@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden;
  }
}


/* Hide default cursor */
* {
  cursor: none;
}

/* center dot */
.cursor-dot {
  width: 8px;
  height: 8px;
  background: #00f5ff;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px #00f5ff;
}

/* outer ring */
.cursor-ring {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(0, 245, 255, 0.6);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9998;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px rgba(0, 245, 255, 0.4);
}

/* click burst */
.cursor-click {
  animation: pulse 0.3s ease-out;
  border-color: #ff00ff;
  box-shadow: 0 0 40px #ff00ff;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}